* {
    margin: 0;
    padding: 0;
}
/* Qs1. Create the following layout using CSS Grid :
*/

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(12 ,1fr);
    grid-template-columns: repeat(12 ,1fr);
    grid-gap: 10px;
}

.boxes {
    background-color: pink;
}

#header {
    grid-column: 1/13;
}

#sidebar{
    grid-column: 1/4;
    grid-row: 2/12;
}

#navigation{
    grid-column: 4/10;
}

#ads {
    grid-column: 10/13;
    grid-row: 2/12;
}

#main {
    grid-column: 4/10;
    grid-row: 3/12;
}

#footer {
    grid-column: 1/13;
}

/* Qs2. Use Media Queries to change the above layout the given one when the viewport 
width goes below 720px.  */

@media (max-width : 720px) {
    #header {
        grid-column: 1/13;
}
    #navigation{
        grid-column: 1/13;
        grid-row: 2/3;
}
    #sidebar{
        grid-column: 1/4;
        grid-row: 3/12;
}
    #main{
        grid-column: 4/13;
        grid-row: 3/12;
}
    #ads{
        grid-row: 12/13;
        grid-column: 1/4;
}
    #footer{
        grid-row: 12/13;
        grid-column: 4/13;
}
}

/* Qs3. Try to complete this code to create a web page loader using CSS animations. */

.loader { 
    border: 16px solid #f3f3f3; 
    border-top: 16px solid goldenrod; 
    border-radius: 50%; 
    width: 120px; 
    height: 120px; 
    animation: spin 2s linear infinite; 
} 

@keyframes spin { 
    0% { 
        transform: rotate(0deg); 
} 
    100% { 
        transform: rotate(360deg); 
} 
} 