#outerBox {
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.lights {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 9px;
    margin-top: 10px;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#yellow {
    background-color: yellow;
}