/* Qs1. Create a box using div. Set - Its height to 150px, width to 300px and the background color to grey. - Border to a 5px, black, dotted border. - A top margin of 20px. - A right margin of 1em. - A bottom margin of 40px. - A left margin of 2em. - Padding on all sides of 1em. */


#Q1 {
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 5px dotted black;
    margin: 20px 1em 40px 1em;
}

/* Qs2. Create 3 divs with the following properties - Height & Width of 100px - Background color to pink - Border to 2px solid black - Make this div in the shape of circle - Place all the 3 divs in a single line  */

.Q2{
    height: 100px;
    width : 100px;
    background-color:pink ;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

/* Qs3. Create a list of technologies - HTML, CSS, JavaScript, NodeJS, ReactJS, SQL, 
MongoDB, Java, C++, C & Python. 
Now change the display of all list items to inline to move them all in a single line. 
Did you notice something different? Try to find why the bullet points disappear. */

.list{
    display: inline;
}

/* The dots (bullet points) disappear because when you set list items (li) to display: inline, the browser no longer treats them as list-item elements. */
