*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_box {
    height: 100vh;
    background-image: url("photo.jpg");
    background-size: cover;
}

.btn_one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    line-height: 60px;
    left: 16px;
}

.sidebar_menu {
    position: fixed;
    /* left: -300px; */
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    
}