.container {
    background-color: rgb(216, 205, 205);
    height: 400px;
    width: 600px;
    display: grid;
    /* grid-template-columns: auto auto auto  ;
    grid-template-rows: auto auto auto; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px 10px;
    place-items: center;


}

.box{
    height: 70px;
    width: 70px;
    background-color: rgb(113, 113, 183);
    border: 2px solid black;
    animation-name: fontsize;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fontsize{
    from{
        font-size: 20px;
    }
    to{
        font-size: 40px;
    }
}